# Ignore build output directories
dist/

# Ignore node modules
node_modules/

# Ignore specific configuration files
*.config.js
custom.d.ts

# Ignore environment variables files
.env
.env.*

# Ignore lock files
package.json
package-lock.json

# Ignore logs
*.log

